<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post" id="register">
        <label for="username">username</label><br>
        <input type="text" name="username" id="username"><br><br>

        <label for="password">password</label><br>
        <input type="password" name="password" id="password"><br><br>

        <label for="firstname">firstname</label><br>
        <input type="text" name="firstname" id="firstname"><br><br>

        <label for="lastname">lastname</label><br>
        <input type="text" name="lastname" id="lastname"><br><br>

        <label for="email">email</label><br>
        <input type="email" name="email" id="email"><br><br>

        <label for="phone">phone</label><br>
        <input type="text" name="phone" id="phone"><br><br>

        <label for="address">address</label><br>
        <textarea name="address" id="address" form="register"></textarea><br><br>

        <label>gender</label><br>
        <input type="radio" id="gander" name="gender" value="male">
        <label for="male">male</label><br>

        <input type="radio" id="gander" name="gender" value="female">
        <label for="female">female</label><br><br>

        <label for="birth">birth</label><br>
        <input type="date" name="birth" id="birth">

        <input type="submit" value="Register">
    </form><br><br>
    Sudah punya akun? <a href="/login">Login sekarang</a>
</body>
</html>